<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peait.carmanagesystem.mapper.AuthoritySetMapper">
  <resultMap id="BaseResultMap" type="com.peait.carmanagesystem.entity.AuthoritySet">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="workerCode" jdbcType="VARCHAR" property="workercode" />
    <result column="workerName" jdbcType="VARCHAR" property="workername" />
    <result column="workerAuthority" jdbcType="VARCHAR" property="workerauthority" />
    <result column="inserTime" jdbcType="TIMESTAMP" property="insertime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, workerCode, workerName, workerAuthority, inserTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from authority_set
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectByWorkerCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from authority_set
    where workerCode = #{workerCode,jdbcType=VARCHAR}
  </select>


  <select id="selectByWorkerName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from authority_set
    <if test="workerName != null">
      where workerName like concat('%', #{workerName,jdbcType=VARCHAR},'%')
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from authority_set
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByWorkerCode" parameterType="java.lang.String">
    delete from authority_set

    where workerCode = #{workerCode,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.peait.carmanagesystem.entity.AuthoritySet">
    insert into authority_set (id, workerCode, workerName, 
      workerAuthority, inserTime, updateTime
      )
    values (#{id,jdbcType=VARCHAR}, #{workercode,jdbcType=VARCHAR}, #{workername,jdbcType=VARCHAR}, 
      #{workerauthority,jdbcType=VARCHAR}, #{insertime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.peait.carmanagesystem.entity.AuthoritySet">
    insert into authority_set
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="workercode != null">
        workerCode,
      </if>
      <if test="workername != null">
        workerName,
      </if>
      <if test="workerauthority != null">
        workerAuthority,
      </if>
      <if test="insertime != null">
        inserTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="workercode != null">
        #{workercode,jdbcType=VARCHAR},
      </if>
      <if test="workername != null">
        #{workername,jdbcType=VARCHAR},
      </if>
      <if test="workerauthority != null">
        #{workerauthority,jdbcType=VARCHAR},
      </if>
      <if test="insertime != null">
        #{insertime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.peait.carmanagesystem.entity.AuthoritySet">
    update authority_set
    <set>
      <if test="workercode != null">
        workerCode = #{workercode,jdbcType=VARCHAR},
      </if>
      <if test="workername != null">
        workerName = #{workername,jdbcType=VARCHAR},
      </if>
      <if test="workerauthority != null">
        workerAuthority = #{workerauthority,jdbcType=VARCHAR},
      </if>
      <if test="insertime != null">
        inserTime = #{insertime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.peait.carmanagesystem.entity.AuthoritySet">
    update authority_set
    set workerCode = #{workercode,jdbcType=VARCHAR},
      workerName = #{workername,jdbcType=VARCHAR},
      workerAuthority = #{workerauthority,jdbcType=VARCHAR},
      inserTime = #{insertime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>