<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peait.carmanagesystem.mapper.CarBeautyManageMapper">
  <resultMap id="BaseResultMap" type="com.peait.carmanagesystem.entity.CarBeautyManage">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="business_date" jdbcType="TIMESTAMP" property="businessDate" />
    <result column="carCode" jdbcType="VARCHAR" property="carcode" />
    <result column="carBeautyId" jdbcType="VARCHAR" property="carbeautyid" />
    <result column="usedGoods" jdbcType="VARCHAR" property="usedgoods" />
    <result column="inserTime" jdbcType="TIMESTAMP" property="insertime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, business_date, carCode, carBeautyId, usedGoods, inserTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_beauty_manage
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectByCarcode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from car_beauty_manage
    <if test="carCode != null and carCode!='' ">
      where carCode like concat('%',#{carCode,jdbcType=VARCHAR},'%')
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from car_beauty_manage
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.peait.carmanagesystem.entity.CarBeautyManage">
    insert into car_beauty_manage (id, business_date, carCode, 
      carBeautyId, usedGoods, inserTime, 
      updateTime)
    values (#{id,jdbcType=VARCHAR}, #{businessDate,jdbcType=TIMESTAMP}, #{carcode,jdbcType=VARCHAR}, 
      #{carbeautyid,jdbcType=VARCHAR}, #{usedgoods,jdbcType=VARCHAR}, #{insertime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.peait.carmanagesystem.entity.CarBeautyManage">
    insert into car_beauty_manage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="businessDate != null">
        business_date,
      </if>
      <if test="carcode != null">
        carCode,
      </if>
      <if test="carbeautyid != null">
        carBeautyId,
      </if>
      <if test="usedgoods != null">
        usedGoods,
      </if>
      <if test="insertime != null">
        inserTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="businessDate != null">
        #{businessDate,jdbcType=TIMESTAMP},
      </if>
      <if test="carcode != null">
        #{carcode,jdbcType=VARCHAR},
      </if>
      <if test="carbeautyid != null">
        #{carbeautyid,jdbcType=VARCHAR},
      </if>
      <if test="usedgoods != null">
        #{usedgoods,jdbcType=VARCHAR},
      </if>
      <if test="insertime != null">
        #{insertime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.peait.carmanagesystem.entity.CarBeautyManage">
    update car_beauty_manage
    <set>
      <if test="businessDate != null">
        business_date = #{businessDate,jdbcType=TIMESTAMP},
      </if>
      <if test="carcode != null">
        carCode = #{carcode,jdbcType=VARCHAR},
      </if>
      <if test="carbeautyid != null">
        carBeautyId = #{carbeautyid,jdbcType=VARCHAR},
      </if>
      <if test="usedgoods != null">
        usedGoods = #{usedgoods,jdbcType=VARCHAR},
      </if>
      <if test="insertime != null">
        inserTime = #{insertime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.peait.carmanagesystem.entity.CarBeautyManage">
    update car_beauty_manage
    set business_date = #{businessDate,jdbcType=TIMESTAMP},
      carCode = #{carcode,jdbcType=VARCHAR},
      carBeautyId = #{carbeautyid,jdbcType=VARCHAR},
      usedGoods = #{usedgoods,jdbcType=VARCHAR},
      inserTime = #{insertime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>