<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peait.carmanagesystem.mapper.CarInfoMapper">
  <resultMap id="BaseResultMap" type="com.peait.carmanagesystem.entity.CarInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="carCode" jdbcType="VARCHAR" property="carcode" />
    <result column="carColor" jdbcType="VARCHAR" property="carcolor" />
    <result column="carType" jdbcType="VARCHAR" property="cartype" />
    <result column="carUserName" jdbcType="VARCHAR" property="carusername" />
    <result column="carModel" jdbcType="VARCHAR" property="carmodel" />
    <result column="inserTime" jdbcType="TIMESTAMP" property="insertime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, carCode, carColor, carType, carUserName, carModel, inserTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_info
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectByCarUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from car_info
    <if test="carUserName != null">
      where carUserName like concat('%',#{carUserName,jdbcType=VARCHAR},'%')
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from car_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.peait.carmanagesystem.entity.CarInfo">
    insert into car_info (id, carCode, carColor, 
      carType, carUserName, carModel, 
      inserTime, updateTime)
    values (#{id,jdbcType=VARCHAR}, #{carcode,jdbcType=VARCHAR}, #{carcolor,jdbcType=VARCHAR}, 
      #{cartype,jdbcType=VARCHAR}, #{carusername,jdbcType=VARCHAR}, #{carmodel,jdbcType=VARCHAR}, 
      #{insertime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.peait.carmanagesystem.entity.CarInfo">
    insert into car_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="carcode != null">
        carCode,
      </if>
      <if test="carcolor != null">
        carColor,
      </if>
      <if test="cartype != null">
        carType,
      </if>
      <if test="carusername != null">
        carUserName,
      </if>
      <if test="carmodel != null">
        carModel,
      </if>
      <if test="insertime != null">
        inserTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="carcode != null">
        #{carcode,jdbcType=VARCHAR},
      </if>
      <if test="carcolor != null">
        #{carcolor,jdbcType=VARCHAR},
      </if>
      <if test="cartype != null">
        #{cartype,jdbcType=VARCHAR},
      </if>
      <if test="carusername != null">
        #{carusername,jdbcType=VARCHAR},
      </if>
      <if test="carmodel != null">
        #{carmodel,jdbcType=VARCHAR},
      </if>
      <if test="insertime != null">
        #{insertime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.peait.carmanagesystem.entity.CarInfo">
    update car_info
    <set>
      <if test="carcode != null">
        carCode = #{carcode,jdbcType=VARCHAR},
      </if>
      <if test="carcolor != null">
        carColor = #{carcolor,jdbcType=VARCHAR},
      </if>
      <if test="cartype != null">
        carType = #{cartype,jdbcType=VARCHAR},
      </if>
      <if test="carusername != null">
        carUserName = #{carusername,jdbcType=VARCHAR},
      </if>
      <if test="carmodel != null">
        carModel = #{carmodel,jdbcType=VARCHAR},
      </if>
      <if test="insertime != null">
        inserTime = #{insertime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.peait.carmanagesystem.entity.CarInfo">
    update car_info
    set carCode = #{carcode,jdbcType=VARCHAR},
      carColor = #{carcolor,jdbcType=VARCHAR},
      carType = #{cartype,jdbcType=VARCHAR},
      carUserName = #{carusername,jdbcType=VARCHAR},
      carModel = #{carmodel,jdbcType=VARCHAR},
      inserTime = #{insertime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>