<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peait.carmanagesystem.mapper.ProjectStockMapper">
  <resultMap id="BaseResultMap" type="com.peait.carmanagesystem.entity.ProjectStock">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="projectManageId" jdbcType="VARCHAR" property="projectmanageid" />
    <result column="stockmanageId" jdbcType="VARCHAR" property="stockmanageid" />
    <result column="goodsCount" jdbcType="INTEGER" property="goodscount" />
  </resultMap>
  <resultMap id="BaseMap" type="com.peait.carmanagesystem.entity.Goods">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="goodsCount" jdbcType="VARCHAR" property="count" />
    <result column="goodsName" jdbcType="VARCHAR" property="goodsName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, projectManageId, stockmanageId, goodsCount
  </sql>


  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from project_stock
    where id = #{id,jdbcType=VARCHAR}
  </select>


  <select id="selectByProjectId" parameterType="java.lang.String" resultMap="BaseMap">
   select
    ps.stockmanageId as id,ps.goodsCount  ,sm.goodsName as goodsName
    from project_stock as ps left join stock_manange sm on ps.stockmanageId = sm.id
    where projectManageId = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from project_stock
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByProjctId" parameterType="java.lang.String">
    delete from project_stock
    where projectManageId = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.peait.carmanagesystem.entity.ProjectStock">
    insert into project_stock (id, projectManageId, stockmanageId, 
      goodsCount)
    values (#{id,jdbcType=VARCHAR}, #{projectmanageid,jdbcType=VARCHAR}, #{stockmanageid,jdbcType=VARCHAR}, 
      #{goodscount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.peait.carmanagesystem.entity.ProjectStock">
    insert into project_stock
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="projectmanageid != null">
        projectManageId,
      </if>
      <if test="stockmanageid != null">
        stockmanageId,
      </if>
      <if test="goodscount != null">
        goodsCount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="projectmanageid != null">
        #{projectmanageid,jdbcType=VARCHAR},
      </if>
      <if test="stockmanageid != null">
        #{stockmanageid,jdbcType=VARCHAR},
      </if>
      <if test="goodscount != null">
        #{goodscount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.peait.carmanagesystem.entity.ProjectStock">
    update project_stock
    <set>
      <if test="projectmanageid != null">
        projectManageId = #{projectmanageid,jdbcType=VARCHAR},
      </if>
      <if test="stockmanageid != null">
        stockmanageId = #{stockmanageid,jdbcType=VARCHAR},
      </if>
      <if test="goodscount != null">
        goodsCount = #{goodscount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.peait.carmanagesystem.entity.ProjectStock">
    update project_stock
    set projectManageId = #{projectmanageid,jdbcType=VARCHAR},
      stockmanageId = #{stockmanageid,jdbcType=VARCHAR},
      goodsCount = #{goodscount,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>



</mapper>