<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peait.carmanagesystem.mapper.ServiceListMapper">
  <resultMap id="BaseResultMap" type="com.peait.carmanagesystem.entity.ServiceList">
    <result column="serviceCode" jdbcType="VARCHAR" property="servicecode" />
    <result column="serviceName" jdbcType="VARCHAR" property="servicename" />
  </resultMap>
  <insert id="insert" parameterType="com.peait.carmanagesystem.entity.ServiceList">
    insert into service_list (serviceCode, serviceName)
    values (#{servicecode,jdbcType=VARCHAR}, #{servicename,jdbcType=VARCHAR})
  </insert>
  <select id="query" resultMap="BaseResultMap">
    select * from service_list
  </select>
  <insert id="insertSelective" parameterType="com.peait.carmanagesystem.entity.ServiceList">
    insert into service_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="servicecode != null">
        serviceCode,
      </if>
      <if test="servicename != null">
        serviceName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="servicecode != null">
        #{servicecode,jdbcType=VARCHAR},
      </if>
      <if test="servicename != null">
        #{servicename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>